/*COLOURS
nice black color #151515
Shades of gray #222125 #0c0b13 #0b0f13 #0d1116 #0d1316 #1b2026

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(250, 250, 250);
  cursor: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  justify-content: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6, p {
  background-color: transparent;
}

/* start navigation bar*/
li,
a {
  font-size: 16px;
  text-decoration: none;
  background: transparent;
}

header {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.logo a {
  font-weight: 600;
  margin: auto;
  opacity: 90%;
  background-color: transparent;
  background: -webkit-linear-gradient(#13547a, #80d0c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease 0s;
  position: relative;
}

.logo a:hover {
  letter-spacing: 0.1rem;
  display: inline-block;
}

nav {
  background-color: transparent;
}

.nav-links {
  list-style: none;
  background-color: transparent;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  color:#13547a;
}

.nav-links li a {
  cursor: pointer;
  color:#13547a;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  opacity: 70%;
  letter-spacing: 0.1rem;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  font-size: 16px;
  /* background-image: linear-gradient(135deg, #acb6e5 30%, #86fde8 100%); */
  /* background-image: linear-gradient(135deg, #92FFC0 10%, #002661 100%); */
  /* background-image: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%); */
  background-image: linear-gradient(135deg, #13547a 10%, #80d0c7 100%);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  letter-spacing: 0.1rem;
  opacity: 0.9;
}

/* end navigation bar*/
/* start custom cursor */

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%);
  background: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 9999;
}

.inner-cursor.grow {
  width: 55px;
  height: 55px;
  transition: width 0.5s, height 0.5s;
  z-index: 9999;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.05s;
  z-index: 9999;
}

.outer-cursor.grow {
  width: 67px;
  height: 67px;
  border: 3px solid #fff;
  transition: width 0.5s, height 0.5s;
  z-index: 9999;
}

/* end custom cursor */
/* start index */
.s-1 {
  min-height: 80vh;
  background: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: auto;
  background-color: transparent;
}

.banner-text h1 {
  font-size: 30px;
  font-size: 7vw;
  background-color: transparent;
  opacity: 75%;
  background: -webkit-linear-gradient(#13547a, #80d0c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-text p {
  color: #151515;
  opacity: 40%;
  background-color: transparent;
  max-width: 550px;
  height: auto;
  font-size: 30px;
  font-size: 1vw;
}

.s-2 {
  min-height: auto;
  justify-content: center;
  padding: 25px;
}

.s-2 h1 {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
}

.s-2 p {
  font-size: 1em;
  font-weight: thin;
  opacity: 40%;
  text-align: center;
  line-height: 2;
  align-content: center;
  margin: 0 auto;
  padding: 25px;
}

.s-3 {
  justify-content: center;
  padding: 25px;
  height: 100vh;
  min-width: auto
}
.s-3 h1 {
  text-align: center;
}

.s-3 h2 {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
}
/* end index */


/* start media query index */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
  .s-2 h1 {
    font-size: 60px;
  }
}

/* end media query index */