@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* * { */
/*   border: solid 1px green; */
/* } */

:root {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background: #FDFDF0;
  /* background: #212121; */
  letter-spacing: 0.1rem;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

header h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

header h2 {
  font-weight: 300;
  font-size: 2.5rem;
  max-width: 700px;
}

header h2 span {
  font-weight: 500;
}

header h3 {
  font-weight: 300;
  font-size: 1.25rem;

}

.background {
  margin: auto;
  height: 450px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  max-width: 700px;
}

.background-title {
  font-weight: 500;
  margin-right: 50px;
  width: 96px;
  font-size: 1rem;
  text-align: right;
  text-transform: uppercase;
  color: orangered;
}

.background-paragraph {
  font-size: 16px;
  font-weight: 300;
  width: 554px;
}


.skills {
  margin: auto;
  height: 350px;
  display: flex;
  max-width: 700px;
  justify-content: center;
}

.skills-title {
  margin-right: 50px;
  font-size: 1rem;
  font-weight: 500;
  width: 96px;
  text-align: right;
  text-transform: uppercase;
  color: orangered;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 554px;
}

.skills-category {
  display: flex;
  flex-direction: column;
}

.skills-label {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.skills-list {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.skills-list li {
  height: 30px;
  font-weight: 300;
  font-size: 16px;
}

.call-to-action {
  padding: 10px 20px;
  color: orangered;
  background: transparent;
  border: solid 2px orangered;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.5s 0.1s, background 0.5s 0.2s, letter-spacing 0.2s 0.2s;
}


.call-to-action:hover {
  background: orangered;
  color: white;
  letter-spacing: 0.15em;
}

.projects {
  margin: auto;
  height: 350px;
  display: flex;
  max-width: 700px;
  justify-content: center;
}

.project-container {
  margin: 0;
  max-width: 700px;
  display: flex;
}


.carousel {  
  scroll-snap-type: x mandatory; /* <- the important piece */
  height: auto;
  width: 100%;
  display: flex;
  overflow: auto;
  scroll-padding: 0 24px;
  /* -webkit-mask-image: linear-gradient(45deg, #000, rgba(0,0,0,0)); */
  /* mask-image: linear-gradient(45deg, #000, rgba(0,0,0,0.5)); */
}  

.carousel .item {  
  scroll-snap-align: center; /* <- the other important piece */
  flex-shrink: 0;
  margin: 20px;
  height: 740px;
  width: 405px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background: lightpink;
}  

.carousel .item:hover {  
  cursor: pointer;
}


.carousel .item h3 {
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}  

.carousel .item img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  border-radius: 15px;
  transition: scale 0.5s ease;
}  

.carousel .item img:hover {
  scale: 1.05;
}


@media screen and (max-width: 767px) {
  .carousel .item {  
    width: 260px;
    height: 480px;
  }
}

/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for medium screens */
}

/* Large screens */
@media screen and (min-width: 1024px) {
  /* Your styles for large screens */
}
