@media only screen and (min-width: 1280px) {


}

@media only screen and (min-width: 769px) and (max-width: 1200px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {


}

@media only screen and (min-width: 321px) and (max-width: 480px) {

header h1 {
  font-weight: 300;
  font-size: 1.5rem;
}

header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 700px;
}

header h2 span {
  font-weight: 500;
}

header h3 {
  font-weight: 300;
  font-size: 0.75rem;

}

}
